<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Petstore Symfony Task{% endblock %}</title>
    </head>
    <body>
        <main style="max-width: 800px; margin: 40px auto; font-family: Arial, sans-serif;">
            {% for message in app.flashes('success') %}
                <div style="padding: 12px; margin-bottom: 12px; background: #e6ffed; border: 1px solid #b7ebc6;">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div style="padding: 12px; margin-bottom: 12px; background: #fff1f0; border: 1px solid #ffa39e;">
                    {{ message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </main>
    </body>
</html>